<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.assem.news.mapper.NewsMapper">

	<select id="getMoimNews" resultType="NewsVO">
		<![CDATA[
		select gubun,
			title,
			contents,
			url, 
			regdate
		from (
			select @RNUM := @RNUM + 1 as no,
				GUBUN,
				TITLE, 
				CONTENTS,
				URL, 
				REGDATE
			from MOIM_NEWS a ,(select @RNUM := 0) b
			order by create_date desc
			) s;
		]]>
	</select>

</mapper>