@charset "utf-8";
/* CSS Document */
.menu {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(50, 198, 154, 0.95);
	z-index: 101;
	opacity: 0;
	visibility: hidden;
}

.menu.active {
	opacity: 0.98;
	visibility: visible;
}

.menu_content {
	width: 100%;
	height: 100%;
}

.menu_content ul {
	margin-top: 40px;
}

.menu_item {
	position: relative;
	margin-bottom: 3px;
}

.menu_item:last-child {
	margin-bottom: 0px;
}

.menu_item a {
	display: inline-block;
	position: relative;
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 600;
}

.menu_item a::after {
	display: block;
	position: absolute;
	top: 52%;
	left: 0;
	width: 0;
	height: 4px;
	background: #FFFFFF;
	letter-spacing: 2px;
	content: '';
	z-index: 10;
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 400ms ease;
}

.menu_item:hover a::after {
	width: 100%;
}

.menu_close_container {
	position: absolute;
	top: 94px;
	right: 122px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu_close {
	top: 9px;
	width: 21px;
	height: 3px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_close::after {
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_close_container:hover .menu_close, .menu_close_container:hover .menu_close::after
	{
	background: rgba(255, 255, 255, 0.7);
}

.menu_search_form {
	position: relative;
	width: 300px;
}

.menu_search_input {
	width: 100%;
	height: 40px;
	background: rgba(255, 255, 255, 0.9);
	border: none;
	outline: none;
	padding-left: 20px;
}

.menu_search_input::-webkit-input-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}

.menu_search_input:-moz-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}

.menu_search_input::-moz-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}

.menu_search_input:-ms-input-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}

.menu_search_input::input-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}

.menu_search_button {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background: transparent;
	border: none;
	outline: none;
}

.menu_social {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 15px;
}

.menu_social ul {
	display: inline-block;
	margin-left: 25px;
	white-space: nowrap;
}

.menu_social ul li {
	display: inline-block;
}
.menu_social ul li
:not
(
:last-child
)
{
margin-right:15px;
}
.menu_social ul li a i {
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	padding: 5px;
}

.menu_social ul li a i:hover {
	color: rgba(255, 255, 255, 1);
}

/*********************************
10. FAQ
*********************************/
.stuff {
	width: 100%;
	background: #f4f8fb;
	padding-top: 99px;
	padding-bottom: 104px;
}

.faq_title {
	font-size: 36px;
	font-weight: 600;
	color: #404040;
	line-height: 0.75;
}

.faq_subtitle {
	font-size: 11px;
	font-weight: 600;
	color: #838383;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 0.75;
	margin-top: 23px;
}

.elements_accordions_tabs {
	margin-top: 115px;
}

.elements_accordions {
	width: 100%;
}

.accordions_tabs {
	width: 100%;
	background: #FFFFFF;
	margin-top: 100px;
}

.accordions {
	margin-top: 100px;
}

.accordion_container
:not
(
:last-child
)
{
margin-bottom:14px;
}
.accordion {
	height: 49px;
	width: 100%;
	background: #FFFFFF;
	padding-left: 70px;
	cursor: pointer;
	color: #404040;
	font-size: 14px;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.accordion div {
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}

.accordion::after {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 50px;
	height: 100%;
	content: '+';
	background: #32c69a;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.accordion.active {
	background: #32c69a;
	color: #FFFFFF;
}

.accordion.active::after {
	content: '-';
	color: #FFFFFF;
	background: #404040;
}

.accordion_panel {
	padding-right: 8px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.accordion_panel>div {
	padding-bottom: 11px;
}

.accordion_panel p {
	font-size: 14px;
	font-weight: 500;
	padding-top: 35px;
	color: #838383;
	line-height: 2.14;
}