<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.assem.common.mappers.LogMapper">

	<select id="getLogs" resultType="LogVO">
		select ip,
			sessionId,
			url,
			userId,
			userName,
			regdate
		from USAGELOG
		where DATE_FORMAT(regdate, "%Y %m") = DATE_FORMAT(NOW(), "%Y %m")
		order by regdate desc;
	</select>
	
	<select id="getLogTotalView" resultType="LogVO">
		select DATE_FORMAT(regdate, "%Y/%m/%d") regdate, 
			url, 
			count(*) count
		from USAGELOG
		where url is not null
			and DATE_FORMAT(regdate, "%Y/%m/%d") >= DATE_FORMAT(date_add(now(), interval -5 day), "%Y/%m/%d")
		group by url, DATE_FORMAT(regdate, "%Y %m %d")
		order by regdate desc, url;
	</select>

	<insert id="insertLog" parameterType="LogVO">
		insert into USAGELOG(ip, sessionId, url, regdate)
		values("${ip}", "${sessionId}", "${url}", now());
	</insert>

</mapper>